/*
 Theme Name:   Lorrac
 Theme URI:    
 Description:  Edin Child Theme
 Author:       Ashley Tan
 Author URI:   
 Template:     edin
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         
 Text Domain:  
*/

/*---------------------------------------------------------
						GENERAL
---------------------------------------------------------*/
body.custom-background {
    background-color: #ffffff!important;
}

div#page {
	border: 3px solid #A78F25;
	width: 100%!important;
}

div#primary {
	padding-top: 0px;
}

.content-area, .content-wrapper {
    width: 100%;
}

h1, h2, h3 {
	font-weight: 300!important;
	color: #434F6E!important;
}

/*---------------------------------------------------------
						MENU
---------------------------------------------------------*/
@media screen and (min-width: 1020px) {
	.navigation-classic .primary-navigation .menu-primary > ul > li.current-menu-item > a, .navigation-classic 	.primary-navigation .menu-primary > ul > li.current_page_item > a {
    background: #071F5D!important;
	}

	.navigation-classic .primary-navigation .menu-primary {
    	padding: 0;
    	color: white;
	}

	.menu-primary {
		display: block;
	}

	.top-menu {
		display: none;
	}
	
	#menu-top {
		display: none;
	}

	#menu-top a {
		color: white;
	}

	#menu-top a:hover, #menu-top a:active, #menu-top a:focus {
		color: #4D9BCE!important;
	}
}
@media (max-width: 500px) { /* Mobile */
	.top-menu {
		display: none;
	}

	.menu-toggle:before {
		color: #A78F25!important;
	}
}

/*---------------------------------------------------------
						HEADER
---------------------------------------------------------*/
div#subtitle {
    background-color: #071F5D;
    color: #A78F25;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
}

header#masthead {
	background-color: #071F5D;
	padding-bottom: 0px;
	border: none!important;
}

.header-image img {
    display: flex;
    width: 20%;
    padding: 10px;
	margin: 0px;
}

.header-wrapper.clear {
    border-top-width: 0px;
}

.menu-toggle:before {
	background: #071F5D;
}

.navigation-classic .primary-navigation {
    border-top: 1px solid #071F5D!important;
}

@media (max-width: 500px) { /* Mobile */
	header#masthead {
	padding-top: 30px;
	}	
}

/*---------------------------------------------------------
						SLIDER
---------------------------------------------------------*/
div#et_builder_outer_content {
    margin-top: 0px;
}

.et_divi_builder #et_builder_outer_content .et_pb_bg_layout_dark.et_pb_slider_with_overlay .et_pb_slide_overlay_container, .et_divi_builder #et_builder_outer_content .et_pb_bg_layout_dark.et_pb_slider_with_text_overlay .et_pb_slide_content, .et_divi_builder #et_builder_outer_content .et_pb_bg_layout_dark.et_pb_slider_with_text_overlay .et_pb_slide_title {
		background-color: rgba(225, 225, 225, 0.7)!important;
}

/*---------------------------------------------------------
						MAIN PAGE
---------------------------------------------------------*/
.hero.without-featured-image {
    display: none!important;
}

div#content a {
	color: #AB8C2B!important;
	text-decoration: underline!important;
}

div#content a:hover {
	color: #B89E5F!important;
}

.et_divi_builder #et_builder_outer_content .et_pb_row_0.et_pb_row {
    padding-left: 50px;
    padding-right: 50px;
}

.et_divi_builder #et_builder_outer_content .et_pb_image_1, .et_divi_builder #et_builder_outer_content .et_pb_image_3, .et_divi_builder #et_builder_outer_content .et_pb_image_5 {
	max-width: 100%!important;
}

@media (max-width: 1229px) {
	.content-wrapper.clear {
		padding: 0px 0px 50px 0px;
	}
}

@media (max-width: 500px) {
	div#search_bar {
		display: none;
	}
}

div#search_bar {
    max-width: 250px;
    float: right;
    padding-right: 50px;
    color: #616777;
    margin-top: 20px;
}

input.search-field {
	margin-bottom: 10px;
	margin-left: -110px;
}


button, input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: #A78F25;
	color: white;
    border: none;
	float: right;
}

input[type="submit"]:hover {
	background-color: #A78F25!important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
    outline: none;
    background: white;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
	color: #616777;
	border: none;
}

/*--------------------------------------------------------
						FOOTER
---------------------------------------------------------*/
div#tertiary {
	background-color: #A78F25;
	color: white;
	padding-top: 30px;
	padding-bottom: 0px;
	margin-bottom: -20px;
}

footer#colophon {
	background-color: #071F5D;
}

.site-footer {
	color: white;
	border: none!important;
}

.site-footer a {
	color: white;
}

.educated {
	color: #A78F25;
}

.educated a {
	font-weight: 700!important;
	color: #A78F25;
}